<li class="list-group-item">
  <p class="mb-0">
    <b><%= activity.room.name %></b>
    has been
    <% if activity.borrowing? %>
      <b class="text-primary">borrowed</b>
    <% else %>
      <b class="text-danger">returned</b>
    <% end %>
    by
    <b><%= activity.user.name %></b>
  </p>
  <p class="mb-0">
    <small class="text-muted">
      <%= time_ago_in_words activity.created_at %>
      ago
    </small>
  </p>
</li>