<% content_for :content do %>
  <div class="sessions">
    <div class="sessions__container">
      <h1 class="sessions__brand">Kagikari</h1>
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>